## Assignment6 : MySQL_Assignment

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans1. A database is an organized collection of data, we can organize data into tables, rows, columns, and index it to make it easier to find relevant information. The main purpose of the database is to operate a large amount of information by storing, retrieving, and managing data.

Inside SQL database we can just store the structured data(like table) and on top of which we can perform filter operation and write join queries, group by.
Example: MySQL, MSSQL
In No SQL database it always try to accomodate unstructured data like text, audio file, images, relational database to perform different different kind of operation like filter and search on top of it.
Example: Mongo DB, Cassandra

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans2. In SQL DDL commands are used to create and modify the structure of a database and database objects. 

CREATE: This command is used to create the database or its objects (like table, function, views, store procedure, and triggers).
##### Example: import mysql.connector
         ##### mydb = mysql.connector.connect(
         ##### host="localhost",  #Because of 127.0.0.1(this denotes localhost)
         ##### user="abc",         #Creates connection between python file and sql database(4-7 line)
         ##### password="password")
         ##### print(mydb)
         ##### mycursor = mydb.cursor()  #In database whenever we try to perform some operation we'll require a mouse cursor
         ##### mycursor.execute("CREATE DATABASE if not exists testdbse")  
         ##### mycursor.execute("CREATE TABLE if not exists testdbse.test_table(c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 VARCHAR(40))")
         
#### Whatever commands we want to execute we need to put it inside mycursor.execute(). Same applies for below DROP, ALTER, TRUNCATE commands.

DROP: This command is used to delete objects from the database.
##### Example: DROP TABLE testdbse.test_table        #inorder to run it we need to put it inside mycursor.execute()

ALTER: This is used to alter the structure of the database. We can add a new column, drop a column, change the datatype of the column(altering the column)
##### Example: ALTER TABLE table_name
         #####  ADD column_name datatype;

TRUNCATE: This is used to remove all records from a table, including all the allocated structure for the records are removed.
##### Example: TRUNCATE TABLE testdbse.test_table        #inorder to run it we need to put it inside mycursor.execute()

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans3. The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language.

INSERT: It is used to insert data into a table.
##### Example: import mysql.connector
            ##### mydb = mysql.connector.connect(
            ##### host="localhost",
            ##### user="abc",
            ##### password="password"
            ##### )
            ##### mycursor = mydb.cursor()
            ##### mycursor.execute("insert into testdbse.test_table values(555,'Happiness',555,555.55,'Meditate')")
            ##### mydb.commit()
            ##### mydb.close()

UPDATE: It is used to update existing data within a table.
##### Example: Update testdbse.test_table
        ##### set c2 = 'testingData', c3 = 555        ###### Taking the reference of table created for ddl command
        #####  where c4 = 5.5
        ##### Whatever commands we want to execute we need to put it inside mycursor.execute(). Same applies here for UPDATE and DELETE commands.

DELETE: It is used to delete records from a database table.
##### Example: DELETE FROM testdbse.test_table WHERE c3 = 555;

#### Q4. What is DQL? Explain SELECT with an example.

Ans4. DQL statements are used for performing queries on the data within schema objects. This command allows getting the data out of the database to perform operations with it.
SELECT: It is used to retrieve data from the database.
##### Example: import mysql.connector
         ##### mydb = mysql.connector.connect(
         ##### host="localhost",
         ##### user="abc",
         ##### password="password")
         ##### mycursor = mydb.cursor()
         ##### mycursor.execute("SELECT * from testdbse.test_table")        #This will give all the columns as an output
         ##### mycursor.execute("SELECT c3,c5 from testdbse.test_table")        #This will just give c3,c5 as an output
         ##### for i in mycursor.fetchall():
         #####     print(i)

### Q5. Explain Primary Key and Foreign Key.

Ans5. Pirmary Key uniquely identifies a record in the relational database table. Its value cannot be deleted from the parent table.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. Its value can be deleted from the child table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans6.       ##### import mysql.connector
            ##### mydb = mysql.connector.connect(
            ##### host="localhost",
            ##### user="abc",
            ##### password="password")
            ##### mycursor = mydb.cursor()
            ##### mycursor.execute("insert into testdbse.test_table values(555,'Happiness',555,555.55,'Meditate')")
            ##### mydb.commit()
            ##### mydb.close()
            
The above code from line  1-5 is used to connect MySQL to python.

In MySQL, a cursor allows row-by-row processing of the result sets. By using a cursor, you can iterate or step through the results of a query and perform certain operations on each row.

In order to run any commands we need to write it inside mycursor.execute() and then execute it. The execute() methods run the SQL query and return the result.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans7. The order of execution of SQL clauses in an SQL query, 1st one will be having highest priority and 7th one least.
1. FROM/JOIN
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT