Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
#Ans1(i)
x1=[7,9,'aqua',[4,8,9]]
type(x1)

list

In [7]:
#Ans1(ii)
x2="Complete your goal's for today "
type(x2)

str

In [8]:
#Ans1(iii)
x3=45/9
type(x3)

float

In [9]:
#Ans1(iv)
x4=(6,9,'goal',[4,8,9])
type(x4)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2='[DS, ML, Python]'
(iii) var3 = [ 'DS', 'ML', 'Python' ]
(iv) var4=1.
What will be the data type of the above given variable.

In [6]:
#Ans2(i)
var1=''
type(var1)

str

In [7]:
#Ans2(ii)
var2='[DS, ML, Python]'
type(var2)

str

In [8]:
#Ans2(iii)
var3 = [ 'DS', 'ML', 'Python' ]
type(var3)

list

In [10]:
#Ans2(iv)
var4=1
type(var4)

int

Q3.Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [23]:
#Ans3(i)
y1 = 13/4
print(y1)
# / is airthematic operator which gives the value of complete quotient having datatype as float.

3.25

In [17]:
#Ans3(ii)
y2 = 13%4
print(y2)
# % is airthematic operator which gives the value of remainder having datatype as int.

1

In [22]:
#Ans3(iii)
y3 = 13//4
print(y3)
# // is airthematic operator which gives the floor value of quotient after division having datatype as int.

3

In [25]:
#Ans3(iv)
y4 = 4**3
print(y4)
# ** is power airthematic operator which gives the value of x1(power)x2 having datatype as int.

64

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element aand its data ttype.

In [69]:
#Ans4
list1=[1,'axe',[1,2,'innerlist'],'g','this is a string',['happy'],6,4.8,'',(5,'utter',[9,7]),'subhangi']
for i in list1:
    print(i)
    print(type(i))

1
<class 'int'>
axe
<class 'str'>
[1, 2, 'innerlist']
<class 'list'>
g
<class 'str'>
this is a string
<class 'str'>
['happy']
<class 'list'>
6
<class 'int'>
4.8
<class 'float'>

<class 'str'>
(5, 'utter', [9, 7])
<class 'tuple'>
subhangi
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [75]:
#Ans5
A=int(input("Enter a value for A"))
B=int(input("Enter a value for B"))
print(A%B==0)
print(A/B)

Enter a value for A 99
Enter a value for B 6

False
16.5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 orr noot.

In [76]:
#Ans6
numbers=list(range(1,26))
for i in numbers:
    print(i%3==0)

False
False
True
False
False
True
False
False
True
False
False
True
False
False
True
False
False
True
False
False
True
False
False
True
False

Q7. What do you understand about mutable and immutable data types? Give examples for both showing thiss property.

In [77]:
#Ans7:The datatypes for which we can update the value contained by them are called mutable datatypes, list is mutable datatype
lists=[6,9,[7,'demo'],'welcome back',('greatest',7,9)]
print(lists[4])
lists[1]='update it'
print(lists[1])

('greatest', 7, 9)
update it

In [78]:
##Ans7:The datatypes for which we can't update on the value contained by them are called immutable datatypes, string is immutable datatype
strings="This is a demo string, which is mutable. Lets see that."
print(strings[8])
strings[8]='our'
print(strings[8])

a

TypeError: 'str' object does not support item assignment