### Basics of Python

In [4]:
print(87)

87

In [2]:
import pandas as pd
dict={"Student": ["Abhi","Gujju"], "Marks":[95,505]}
df=pd.DataFrame(dict)
display(df)
print(df.index)

  Student  Marks
0    Abhi     95
1   Gujju    505

RangeIndex(start=0, stop=2, step=1)

In [1]:
import pandas as pd
dict={"Student": ["Abbu","Komal"], "Marks":[75,55]}
df=pd.DataFrame(dict)
display(df)
print(df.index)

  Student  Marks
0    Abbu     75
1   Komal     55

RangeIndex(start=0, stop=2, step=1)

In [3]:
print("Hello this is my first python code")

Hello this is my first python code

### Datatypes in Python

In [6]:
st1="This is string"

In [7]:
num1=5

In [8]:
type(st1)

str

In [9]:
type(num1)

int

In [10]:
st1+str(num1)

'This is string5'

In [11]:
b=input()

 23232

In [12]:
type(b)

str

In [13]:
_aa=int(input())

 3232323

In [14]:
#Will only convert integer values to int
_bb=int(input())

 This Is A String

ValueError: invalid literal for int() with base 10: 'This Is A String'

In [15]:
#Variable declaration is not correct
@kljjjl=8

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3996883895.py, line 2)