### Dictionaries

In [3]:
d1={}
type(d1)

dict

In [4]:
## Value inside a dictionary are stored in key value pairs
d2={"name":"Karishma","age":28,"E-mail":"abc@gmail.com"}

In [5]:
d2

{'name': 'Karishma', 'age': 28, 'E-mail': 'abc@gmail.com'}

In [8]:
## Dictionary doesn't allow repetition of keys, if we give two keys with same key name then the key value is updated by the latest one
d3={"name":"Karish", "name":"Karishma"}

In [9]:
d3

{'name': 'Karishma'}

In [12]:
# Key can have datatype as string, integer, float, boolean
d4={12345:"EmployeeId"}
d4

{12345: 'EmployeeId'}

In [13]:
d5={123.45:"Ssn_number"}
d5

{123.45: 'Ssn_number'}

In [16]:
d6={True:"Script"}
d6

{True: 'Script'}

In [17]:
### We can't take special character, lists as key
d7={@:'abc'}

SyntaxError: invalid syntax (3352171237.py, line 2)

In [20]:
#Special character inside quotes, as a string can be taken as key
d8={'#':"abc"}
d8

{'#': 'abc'}

In [21]:
### Checking for list as a key: Not allowed
d9={[1,2,'abc']:'name'}

TypeError: unhashable type: 'list'

In [23]:
### Checking for tuple as a key: allowed
d10={('a',5,'abc',5.5):'name'}
d10

{('a', 5, 'abc', 5.5): 'name'}

In [24]:
### Checking for set as a key: Not allowed
d11={{1,2,'karishma'}:'abcde'}

TypeError: unhashable type: 'set'

In [25]:
### Checking for dictionary as a key: Not allowed
d11={{'name':'karishma'}:'ThisIsDictionaryValue'}

TypeError: unhashable type: 'dict'

In [30]:
""" Key of a dictionary should be unique. 
It will not allow special characters as input(inside the string that is allowed)
From lists,set,tuples,dictionary just tuples can be taken as a key"""

' Key of a dictionary should be unique. \nIt will not allow special characters as input(inside the string that is allowed)\nFrom lists,set,tuples,dictionary just tuples can be taken as a key'

In [34]:
## For value list is allow 
d12={"course_name": ["DSA masters", 'Java Programming', 555]}
d12

{'course_name': ['DSA masters', 'Java Programming', 555]}

In [36]:
## For value tuple is allow
d13={"key":(1,'abc',15.5)}
d13

{'key': (1, 'abc', 15.5)}

In [37]:
## For value set is allow 
d14={"key":{1,'abc',15.5}}
d14

{'key': {1, 15.5, 'abc'}}

In [42]:
## For value dictionary is allow,this is known as nested dictionary
d15={"key":{1:'abc',15.5:(1,2,3,5)}}
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}}

In [1]:
d16={'batch_name':['data science masters','devops','JDS'],"start_date":(28,14,7),'Mentor_name':{'ram','shyam','mohan','krishna'}}
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'}}

In [2]:
#Adding a new key value pair in the dictionary
d16['timing']=(5,5,5)
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5)}

In [3]:
d16['batch_name']

['data science masters', 'devops', 'JDS']

In [49]:
type(d16["Mentor_name"])

set

In [51]:
##If a key is not present in the dictionary, we'll get keyerror
d16['key']

KeyError: 'key'

In [52]:
d16['name']="Karishma"

In [53]:
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5),
 'name': 'Karishma'}

In [58]:
d16['name'].upper()

'KARISHMA'

In [59]:
d16['name'].lower()

'karishma'

In [60]:
d16['name'].title()

'Karishma'

In [65]:
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}}

In [67]:
d15['key']

{1: 'abc', 15.5: (1, 2, 3, 5)}

In [69]:
type(d15['key'])

dict

In [68]:
d15['key'][15.5]

(1, 2, 3, 5)

In [71]:
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}}

In [76]:
d15["new_key"]='abcde'

In [77]:
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}, 'new_key': 'abcde'}

In [74]:
d15.pop('new_key')

'abcde'

In [75]:
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}}

In [78]:
del d15['new_key']

In [79]:
d15

{'key': {1: 'abc', 15.5: (1, 2, 3, 5)}}

In [80]:
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5),
 'name': 'Karishma'}

In [82]:
#Removes all the elements from the dictionary
d15.clear()

In [83]:
d15

{}

In [84]:
#Gives the number of all the key value pairs
len(d16)

5

In [85]:
len(d5)

1

In [88]:
#Accessing just all the keys
d16.keys()

dict_keys(['batch_name', 'start_date', 'Mentor_name', 'timing', 'name'])

In [89]:
#Accessing just all the values
d16.values()

dict_values([['data science masters', 'devops', 'JDS'], (28, 14, 7), {'shyam', 'mohan', 'krishna', 'ram'}, (5, 5, 5), 'Karishma'])

In [91]:
#Converting the outcome into a list
l16=list(d16.keys())
l16

['batch_name', 'start_date', 'Mentor_name', 'timing', 'name']

In [92]:
l16_val=list(d16.values())
l16_val

[['data science masters', 'devops', 'JDS'],
 (28, 14, 7),
 {'krishna', 'mohan', 'ram', 'shyam'},
 (5, 5, 5),
 'Karishma']

In [7]:
#For creating list of key value pairs
list(d16.items())

[('batch_name', ['data science masters', 'devops', 'JDS']),
 ('start_date', (28, 14, 7)),
 ('Mentor_name', {'krishna', 'mohan', 'ram', 'shyam'}),
 ('timing', (5, 5, 5))]

In [10]:
#Deep copying, here the whole dictionary(d16) values are copied into a new memory(d17). If we'll make some changes in d16 the changes will not effect d17
d17=d16.copy()
d17

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5)}

In [11]:
d16['number_of_students']=(55,5,15)

In [12]:
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5),
 'number_of_students': (55, 5, 15)}

In [13]:
d17

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5)}

In [17]:
#Swallow copying, here d18 will just refer to the location to be copied i.e d17. so d17, d18 are pointing to the same location
d18=d17

In [15]:
d18

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'timing': (5, 5, 5)}

In [18]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [19]:
d16.pop('timing')

(5, 5, 5)

In [20]:
d16

{'batch_name': ['data science masters', 'devops', 'JDS'],
 'start_date': (28, 14, 7),
 'Mentor_name': {'krishna', 'mohan', 'ram', 'shyam'},
 'number_of_students': (55, 5, 15)}

In [24]:
# Here the 2nd parameter is taken as value for all the key iterator given in the first parameter 
dict.fromkeys((1,2,3) , ('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [27]:
#Dictionary inside a tuple is possible
d19={'key1' : 'value1','key2' : 'value2'}
d20={'key3' : 'value3','key4' : 'value4'}

In [28]:
(d19,d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [31]:
#Update function will update the value of d19 with the value passed inside the update function i.e d20
d19.update(d20)

In [30]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [32]:
#Update function will update the value of d20 with the value passed inside the update function i.e d19
d20.update(d19)

In [33]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [34]:
#Fetching the data from a dictionary suing get function. Returns default if the key is not present in dictionary
d20.get('name')

In [35]:
d20.get('key3')

'value3'

In [36]:
d20['key3']

'value3'

In [39]:
#Fetching value for a particular key using this method returns a error. That makes it different from get function fetching
d20['name']

KeyError: 'name'

### Dictionary Comprehensions

In [44]:
# Create a dictionary with key as numbers from 1 to 10 and values as square of key values
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [45]:
{i:i+2 for i in range(1,11)}

{1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11, 10: 12}

In [53]:
import math
d21={i:math.log10(i) for i in range(1,11)}
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [58]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [59]:
#Print values for only even keys 
for i in d21.keys():
    if i%2==0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0