### Tuples

In [2]:
t1=()
type(t1)

tuple

In [17]:
#Tuples can store any type of data inside it
t2=(1,2,3,4,5+5j,"Karishma",["a","abc"],5.55, True)
t2

(1, 2, 3, 4, (5+5j), 'Karishma', ['a', 'abc'], 5.55, True)

In [10]:
#Accessing values from a tuple(indexing operation). We can access the stored values in the similar way as we can for lists
t2[5]

'Karishma'

In [18]:
#Reversing of a tuple, similar to that of lists, reversing is not an inplace operation for tuples.
t2[::-1]
t2

(1, 2, 3, 4, (5+5j), 'Karishma', ['a', 'abc'], 5.55, True)

In [19]:
#Reassigning the value of a tuple
t2= t2[::-1]
t2

(True, 5.55, ['a', 'abc'], 'Karishma', (5+5j), 4, 3, 2, 1)

In [20]:
#Slicing operation for tuples
t2[:3]

(True, 5.55, ['a', 'abc'])

### Functions inside the tuples. There are only two functions for a tuple. i.e index and count functions

In [22]:
#Internally True is stored as 1 so that's why we're getting count of one's as 2
t2.count(1)

2

In [27]:
t2.count(5+5j)

1

In [28]:
#Internally True is stored as 1 so that's why we're getting count of one's as 2 vice versa for 1
t2.count(True)

2

In [23]:
t2.index(1)

0

In [26]:
t2.index('Karishma')

3

In [29]:
t2

(True, 5.55, ['a', 'abc'], 'Karishma', (5+5j), 4, 3, 2, 1)

In [38]:
### Actual difference between lists and tuples using mutability

""" Tuples follows immutablity concept, due to which it doesn't allow changes for any element at particular indexes """

In [39]:
t2[5]

4

In [40]:
#Tuples are immutable entity. Making changes at a particular index. Assigment of value is very different from this.
#In an existing tuple we will not be able to update/allow any changes of the information at any indexes or at a particular place, this makes the tuple as immutable
t2[5]="Kweera"

TypeError: 'tuple' object does not support item assignment

In [42]:
#Iterating a tuple using for loop
for i in t2:
    print(i,type(i))

True <class 'bool'>
5.55 <class 'float'>
['a', 'abc'] <class 'list'>
Karishma <class 'str'>
(5+5j) <class 'complex'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [43]:
t5=(1,2,3,4,5)
t5*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [44]:
max(t5)

5

In [45]:
min(t5)

1

In [49]:
#Defining tuple inside a tuple, list inside tuple
t1=(1.7,7,3,'tree',"hello",3+7j)
t2=('green', ['crores','happiness'])
t3=(t1,t2)
t3

((1.7, 7, 3, 'tree', 'hello', (3+7j)), ('green', ['crores', 'happiness']))

In [50]:
#Deleting a tuple
del t3

In [51]:
t3

NameError: name 't3' is not defined

In [53]:
#Length function is used in order to find the number of elements inside the tuple
len(t1)

6

In [54]:
t1

(1.7, 7, 3, 'tree', 'hello', (3+7j))

In [55]:
# Finding whether an item exists in a tuple
'hello' in t1

True

In [56]:
555 in t1

False

### Sets

In [57]:
#Empty set is always considered as a list
s1={}
type(s1)

dict

In [62]:
s2={1,2,8,6,9,66,3}
type(s2)

set

In [63]:
# Set always tries to hold/store unique values, if any duplicate value is present in a set it'll try to remove them.
s3={1,2,2,8,8,6,9,66,3,3}

In [61]:
s3

{1, 2, 3, 6, 8, 9, 66}

In [65]:
""" list, set, tuples can be converted to one another """

' list, set, tuples can be converted to one another '

In [69]:
#Set to list
l1=list(s3)
l1

[1, 2, 3, 66, 6, 8, 9]

In [71]:
#Set to tuple
t1=tuple(s3)
t1

(1, 2, 3, 66, 6, 8, 9)

In [70]:
#List to Set.
set(l1)

{1, 2, 3, 6, 8, 9, 66}

In [72]:
#Tuple to Set
set(t1)

{1, 2, 3, 6, 8, 9, 66}

In [73]:
#Tuple to list
list(t1)

[1, 2, 3, 66, 6, 8, 9]

In [74]:
#List to tuple
tuple(l1)

(1, 2, 3, 66, 6, 8, 9)

In [76]:
#If in our list there are multiple duplicate elements we can remove it by using set in place of that
l1=[5,3,2,4,5,4,4,34,4,34,34,1,5,5,6,6,66]
l1

[5, 3, 2, 4, 5, 4, 4, 34, 4, 34, 34, 1, 5, 5, 6, 6, 66]

In [77]:
set(l1)

{1, 2, 3, 4, 5, 6, 34, 66}

In [79]:
# As list is immutable compiler is not able to assign hashable index for it
s5={1,2,3,[1,'hello','python']}

TypeError: unhashable type: 'list'

In [81]:
s5={1,2,3,(1,'hello','python')}
s5

{(1, 'hello', 'python'), 1, 2, 3}

In [84]:
#Python is case sensitive so considering 'K' and 'k' differently
s6={"karishma","Karishma",9,555}
s6

{555, 9, 'Karishma', 'karishma'}

In [85]:
s6={"karishma","karishma",9,555}
s6

{555, 9, 'karishma'}

In [86]:
## Indexing and slicing operations are not possible for set as it assigns a hashable value for each index
s6[0]

TypeError: 'set' object is not subscriptable

In [87]:
s6[:-1]

TypeError: 'set' object is not subscriptable

In [88]:
# Accessing of elements is possible for set containing hashable elements
for i in s6:
    print(i)

9
karishma
555

In [92]:
'''We can get all the built in elements for a particular data struture by following this format. i.e datastrture_name. Now press tab key''' 
s6.add(99)
s6

{555, 9, 99, 'karishma'}

In [94]:
'''Set will not add an element that is already present there'''
s6.add(555)
s6

{555, 9, 99, 'karishma'}

In [95]:
# For getting the length of the set use len function
len(s6)

4

In [97]:
#Element will not be popped up in anyorder instead they'll be popped up according to the hashing code assigned to the elements
s6.pop()

99

In [98]:
s6

{555, 9, 'karishma'}

In [99]:
s6.pop()

9

In [100]:
s6

{555, 'karishma'}

In [101]:
# clear() function will remove all the elements from the set, in the output we'll get a empty set.
s6.clear()
s6

set()

In [102]:
s7={1,2,3,6,5,7,9}
s8={1,2,3,6,7,555}

In [103]:
#Outputs the different element in s7 
s7.difference(s8)

{5, 9}

In [105]:
#Outputs the different element in s8
s8.difference(s7)

{555}